@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: red;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color:crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    margin-bottom: 10px;
}
.cta:hover{
    color: white;
    background-color: crimson;
}
/* Header Section */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}
#header .brand a{
    text-transform: uppercase;
    font-size: 1.8rem;
    color: white;
    letter-spacing: .2rem;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0%;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 8rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a{
    color: crimson;   
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   z-index: 100;
   cursor: pointer;
   transform: scale(.8);
   margin-right: 20px;
}
#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top,bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
    
}
/*  End Header Section */

/* hero Section */
#hero{
    background-image: url(img/gggg.JPG);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
/* End Hero Section */

/* Services Section */

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.3rem;
    font-weight: 400;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
   
}
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#services .service-bottom p{
    color: white;
    letter-spacing: .05rem;
    font-size: 12px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(img/screen.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: dimgray;
    opacity: .9;
    z-index: -1;
}
#services .services-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
/* End Services Section */

/* projects section */
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: centers;
    flex-direction: column;
    background-color:  #35424a;
    color: white;
}
#projects .project-info h1{
    font-size: 3.5rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 2rem;
    font-weight: 400;
}
#projects .project-info p{
    font-size: 1.2rem;
    font-weight: 200;
    color: burlywood;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:dimgray;
    opacity: .7;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.5);
}
/* End projects section */

/* About Section */
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    
}
#about .col-left{
    width: 250px;
    height: 360px;
   
}
#about .col-right{
    width: 100%;
   
}
#about .col-right h2{
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: 10px;
    
   
}
#about .col-right p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: black;
}
#about .about-img{
    background-color: white;
}
#about .col-left .about-img{
    position: relative;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}
/* End About Section */

/* Contact Section */
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 100%;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 16px 0 black;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 red;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    padding: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    padding-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
}
/* End Contact Section */

/* Footer */
#footer .footer{
    flex-direction: column;
    min-height: 400px;
    background-color: dimgray;
}
#footer .brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
#footer h2{
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 10px;
    color: white;
}
#footer .social-icon{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: white;
}
#footer .social-item{
    width: 50px;
    margin: 0 5px;
    height: 50px;
}
#footer .social-item img{
    filter: grayscale(0);
    transition: .3s ease filter;
}
#footer .social-item:hover{
    filter: grayscale(0);
    background-color: red;
}
#footer p{
    font-size: 1rem;
    color: white;
}
/* End Footer */

/* keyframes */
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box{
    100%{
        width: 0%;
        left: 100%;
    }
    50%{
        width: 100%;
        left: 0%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500;
    }
}
/* End keyframes */

/* Media Query for Tablet */
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    /* Hero */
    #hero h1{
        font-size: 7rem;
    }
     /* End Hero */

     /* Service Section */
     #services .service-bottom .service-item{
         flex-basis: 45%;
         margin: 2.5%;
     }
     /* Service Section */

     /* Project */
     #projects .project-item{
         flex-direction: row;
     }
     #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
     #projects .project-item{
         height: 400px;
         margin: 0;
         width: 100%;
         border-radius: 0;
     }
     #projects .all-projects .project-info{
         height: 100%;
     }
     #projects .all-projects .project-img{
        height: 100%;
    }
     /* End Project */

     /* About */
     #about .about{
         flex-direction: row;
     }
     #about .col-left{
         width: 600px;
         height: 400px;
         padding-left: 60px;
     }
     #about .col-right{
         text-align: left;
         padding: 30px;
     }
     #about .col-right h1{
        text-align: left;
    }
     #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
     }
    

     /* End About */

     /* Contact */
     #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 0;
    }
     /* End Contact */
}
/* End Media Query for Tablet */

/* Media Query for desktop */
@media only screen and (min-width: 1200px){
    /* Header */
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    
    /* End Header */
    #services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
}
/* End Media Query for desktop */