body{
	font: 15px/1.5 Arial,Helvetica,sens-serif;
	padding: 0;
	margin: 0;
	background-color:#ffffff; 
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header{
	background: #35424a;
	color: #ffffff;

	padding-top: 30px;
	min-height: 70px;
	border-bottom: #ffffff 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
	margin: 0;
	padding: 0;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 20px;
}
header #branding{
	float: left;
}
header #branding{
	margin: 0;
}
header nav{
	float: right;
	margin-top: 15px;
}
header .highlight,header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
	color: yellow;
	font-weight: bold;
}
#showcase{
	min-height: 400px;
	background: url('img/lkjj.jpg') no-repeat;
	text-align: center;
	color: #ffffff;
}
#showcase h1{
	margin-top: 60px;
	font-size: 50px;
	margin-bottom: 10px;
}
#newsletter{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
}
#newsletter h1{
    float: left;
}
#newsletter form{
	float: right;
	margin-top: 15px;
	font-size: 10px;
}
#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}
.button_1{
	height: 38px;
	background: #e8491d;
	
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}
.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
#boxes{
	margin-top: 20px;
}
#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}
#boxes .box img{
	width: 110px;
}
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10PX;
}
aside#sidebar .quote input,aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}
article#main-col{
    float: left;
    width: 65%;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}
footer{
	padding: 20px;
	margin-top: 20px;
	background-color: #e8491d;
	color: #ffffff;
	text-align: center;
}
@media(max-width: 768px){
	header #branding,header nav,header nav li{
		float: none;text-align: center;width: 100%;
	}
	header{
		padding: 20px;
	}
}